{% extends 'base.html' %}

{% block content %}
INDEX
    <br>
    <a href="{% url "login" %}">LOGIN</a>
    <hr>
    <div id="list-items">

    </div>


{% endblock %}


{% block scripts %}
    <script>
    $( document ).ready(function() {
        $.post(
            "{% url "ajax" %}",
            {
                model: 'type1'
            },
            function (data) {
                $("#list-items").html(data);
            }
        );
    });


    </script>
{% endblock %}