{% extends 'base.html' %}

{% block content %}
    <h3>LOGIN</h3>
    <form action="" method="post">
    {% csrf_token %}
        <input type="text" placeholder="Username" name="username">
        <br>
        <input type="password" placeholder="Password" name="pwd">
        <br>
    <button type="submit">Login</button>
    </form>
{% endblock %}
